:root {
  --color-blue: #004085;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-grey {
  background: #e2e3e5;
  color: #383d41;
}

.calendar-day {
  margin-top: 2px;
  margin-left: 4px;
  font-weight: bold;
}

.calendar-day-active {
  display: inline-block;
  background: #ffc107;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 26px;
  color: #343a40;
}

.container-fluid:nth-child(2) {
  background: red;
}

.no-padding {
  padding: 0;
}

.icon-margin-top {
  margin-top: 5px;
  color: var(--color-blue);
}


.col-dark {
  background: #e2e3e5;
  color: var(--color-blue);
}

.month {
  color: var(--color-blue);
  font-weight: bold;
}

button.close
{
  outline: none;
}

.popover {
  width: 250px;
}

.weather-icon {
  position: absolute;
  left: -13px;
  top: -8px;
}

.container-reminder {
  padding-left: 9px;
  max-height: 144px;
  overflow: auto;
  scrollbar-color: #555 #f1f1f1;
  scrollbar-width: thin;
}

.disabled {
  cursor: not-allowed;
  color: #888;
}

.hand-cursor {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
